.App {
  /* text-align: center; */
  background-color: rgba(0, 0, 0, 0.842);
  height: 100vh;
}

header {
  background-color: rgb(42, 171, 226);
  display: flex;
  justify-content: flex-start;
}
header > h1 {
  margin-left: 100px;
}

.card {
  background-color: white;
  width: 70vw;
  height: 50vh;
  margin: 0 auto;
}

.Nav {
  display: flex;
  justify-content: space-between;
  width: 70vw;
  margin: 0 auto;
  /* align-items: center; */
}

/* .card > div {
  position: relative;
  top: 0px;
} */

.counter > h2{
  width: 10%;
  position: relative;
  padding-top: 10px;
  left: 90%;
  font-size: 30px;
}
.words {
  position: relative;
  left: 100px;
}

.words > h1 {
  padding-bottom: 15px;
  font-size: 30px;
  text-decoration: underline rgb(42, 171, 226);
}

.boldBoys {
  display: flex;
  height: 30px;
}
button {
  height: 30px;
  width: 60px;
}

.index-btn {
  color: white;
  background: none;
  border: none;
  font-size: 20px;
}

.mod-btn {
  color: white;
  background: rgb(42, 171, 226);
  border: none;
  border-radius: 15%;
  margin: 10px;
  
}

.bold {
  font-weight: bold;
}
.boldBoys > .bold {
  margin-right: 10px;
}

.favorites > .bold {
  padding-top: 20px;
}




.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
